name: Nix Eval

on:
  workflow_call:
    outputs:
      packages_matrix:
        description: 'Generated build matrix for packages'
        value: ${{ jobs.eval.outputs.packages_matrix }}
      checks_matrix:
        description: 'Generated build matrix for checks'
        value: ${{ jobs.eval.outputs.checks_matrix }}

jobs:
  eval:
    runs-on: blacksmith-8vcpu-ubuntu-2404
    outputs:
      packages_matrix: ${{ steps.set-matrix.outputs.packages_matrix }}
      checks_matrix: ${{ steps.set-matrix.outputs.checks_matrix }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Mount Nix cache disk
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-nix-cache-eval-${{ runner.os }}
          path: /nix
      - name: Install nix
        uses: ./.github/actions/nix-install-ephemeral
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu -o pipefail
          nix run --accept-flake-config .\#github-matrix -- checks legacyPackages

          sudo systemctl stop nix-daemon.socket || true
          sudo systemctl stop nix-daemon.service || true
          sudo pkill -9 nix-daemon || true
          sleep 2
