name: Nix CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  nix-eval:
    uses: ./.github/workflows/nix-eval.yml

  nix-build-packages-aarch64-linux:
    name: >-
      ${{ matrix.name }} (aarch64-linux)
    needs: nix-eval
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).aarch64_linux != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).aarch64_linux }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Mount Nix cache disk
        if: ${{ matrix.attr != '' }}
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-nix-cache-${{ runner.os }}-${{ runner.arch }}
          path: /nix
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: ./.github/actions/nix-install-ephemeral
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}

  nix-build-checks-aarch64-linux:
    name: >-
      ${{ matrix.name }} (aarch64-linux)
    needs: [nix-eval, nix-build-packages-aarch64-linux]
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).aarch64_linux != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).aarch64_linux }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Mount Nix cache disk
        if: ${{ matrix.attr != '' }}
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-nix-cache-${{ runner.os }}-${{ runner.arch }}
          path: /nix
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: ./.github/actions/nix-install-ephemeral
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}

  nix-build-packages-aarch64-darwin:
    name: >-
      ${{ matrix.name }} (aarch64-darwin)
    needs: nix-eval
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).aarch64_darwin != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).aarch64_darwin }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: cachix/install-nix-action@v30
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}

  nix-build-checks-aarch64-darwin:
    name: >-
      ${{ matrix.name }} (aarch64-darwin)
    needs: [nix-eval, nix-build-packages-aarch64-darwin]
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).aarch64_darwin != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).aarch64_darwin }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: cachix/install-nix-action@v30
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}

  nix-build-packages-x86_64-linux:
    name: >-
      ${{ matrix.name }} (x86_64-linux)
    needs: nix-eval
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).x86_64_linux != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.packages_matrix).x86_64_linux }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Mount Nix cache disk
        if: ${{ matrix.attr != '' }}
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-nix-cache-${{ runner.os }}-${{ runner.arch }}
          path: /nix
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: ./.github/actions/nix-install-ephemeral
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}

  nix-build-checks-x86_64-linux:
    name: >-
      ${{ matrix.name }} (x86_64-linux)
    needs: [nix-eval, nix-build-packages-x86_64-linux]
    runs-on: ${{ matrix.runs_on.labels }}
    if: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).x86_64_linux != null }}
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(needs.nix-eval.outputs.checks_matrix).x86_64_linux }}
    steps:
      - name: Checkout Repo
        if: ${{ matrix.attr != '' }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Mount Nix cache disk
        if: ${{ matrix.attr != '' }}
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-nix-cache-${{ runner.os }}-${{ runner.arch }}
          path: /nix
      - name: Install nix
        if: ${{ matrix.attr != '' }}
        uses: ./.github/actions/nix-install-ephemeral
      - name: nix build
        if: ${{ matrix.attr != '' }}
        shell: bash
        run: nix build --accept-flake-config -L .#${{ matrix.attr }}
